html {
    min-height: 100vh;
}
h1 {
    margin: 20px;
    text-align: center;
}
.etchContainer {
    margin: auto;
    width: 510px;
    height: 510px;
    border: 1px solid gray;
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
}
.etchContainer > div {
    flex-grow: 1;
    min-height: 0;
    min-width: 0;
    border: 1px solid lightgray;
}
div .square:hover {
    background: lightblue;
}
.controls {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
input[type='color'] {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    
}
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}


